<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>



  <!-- Header and Initial Section with Title / Paragraph -->
  <body>
    <div class="container-fluid">
      <div class="jumbotron text-center">      
        <h1>Mission to Mars</h1>      
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>      
      </div>      
      <div>
        <h2>Latest Mars News</h2>
        <h4>{{mars_data.title}}</h4>
        <h6>{{mars_data.p}}</h6>
      </div>  
    
    
      <!-- Featured Image -->
      <div class="row">
        <div class="col-md-8">
          <h2>Featured Mars Image</h2>
          <img src="{{mars_data.featured_image_url}}" class="img-responsive" alt="Dusty Space Cloud">      
        </div>

        <!-- Table -->
        <div class="col-md-4">
          <div class="row">
            <h4>Mars Facts</h4>
            {{mars_data.table | safe}}
          </div>
        </div>
      </div>

      <!-- Mars Hemispheres -->
      <div class="row">
        <div class="page-header">
          <h2 class="text-center">Mars Hemispheres</h2>
        </div>

        {% for x in mars_data.hemisphere_image_urls %}
        <div class="col-md-6">
          <img src="{{x.img_url}}" class="img-thumbnail" alt="bigred">
          <div class="caption">
            <h3>{{x.title}}</h3>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
